# Adding Default CODEOWNERS
*   jitendra.patil@intel.com srikanth.ramakrishna@intel.com sharvil.shah@intel.com tyler.titsworth@intel.com

# Add code owners for DevCatalog READMEs anywhere
DEVCATALOG.md    louie.tsai@intel.com marina.zubova@intel.com isha.ghosh@intel.com david.b.kinder@intel.com luis.real.novo@intel.com
 
