[submodule "analytics/classical-ml/recsys/training/analytics-with-python"]
	path = analytics/classical-ml/recsys/training/analytics-with-python
	url = https://github.com/intel/recommender-system-with-classical-ml/
[submodule "analytics/classical-ml/synthetic/inference/wafer-insights"]
	path = analytics/classical-ml/synthetic/inference/wafer-insights
	url = https://github.com/intel/wafer-insights-with-classical-ml
[submodule "analytics/tensorflow/ssd_resnet34/inference/video-streamer"]
	path = analytics/tensorflow/ssd_resnet34/inference/video-streamer
	url = https://github.com/intel/video-streamer
[submodule "big-data/chronos/BigDL"]
	path = big-data/chronos/BigDL
	url = https://github.com/intel-analytics/BigDL.git
[submodule "big-data/friesian/training/BigDL"]
	path = big-data/friesian/training/BigDL
	url = https://github.com/intel-analytics/BigDL
[submodule "big-data/ppml/bigDL-ppml"]
	path = big-data/ppml/bigDL-ppml
	url = https://github.com/intel-analytics/BigDL
[submodule "classification/tensorflow/bert_base/inference/aws_sagemaker"]
	path = classification/tensorflow/bert_base/inference/aws_sagemaker
	url = https://github.com/intel/NLP-Workflow-with-AWS
[submodule "language_modeling/pytorch/bert_large/training/dlsa"]
	path = language_modeling/pytorch/bert_large/training/dlsa
	url = https://github.com/intel/document-level-sentiment-analysis
[submodule "language_modeling/pytorch/bert_base/inference/azureml"]
	path = language_modeling/pytorch/bert_base/inference/azureml
	url = https://github.com/intel/Intel-NLP-workflow-for-Azure-ML.git
[submodule "language_modeling/pytorch/bert_base/training/azureml"]
	path = language_modeling/pytorch/bert_base/training/azureml
	url = https://github.com/intel/Intel-NLP-workflow-for-Azure-ML.git
[submodule "protein-folding/pytorch/alphafold2/inference/protein-prediction"]
	path = protein-folding/pytorch/alphafold2/inference/protein-prediction
	url = https://github.com/IntelAI/models
[submodule "transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference"]
	path = transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference
	url = https://github.com/intel/vision-based-transfer-learning-and-inference
[submodule "transfer_learning/tensorflow/resnet50/training/transfer-learning-training"]
	path = transfer_learning/tensorflow/resnet50/training/transfer-learning-training
	url = https://github.com/intel/vision-based-transfer-learning-and-inference
[submodule "big-data/aiok-ray/inference/AIOK_Ray"]
	path = big-data/aiok-ray/inference/AIOK_Ray
	url = https://github.com/intel/e2eAIOK/
[submodule "big-data/aiok-ray/training/AIOK_Ray"]
	path = big-data/aiok-ray/training/AIOK_Ray
	url = https://github.com/intel/e2eAIOK/
