[submodule "analytics/classical-ml/synthetic/inference/wafer-insights"]
	path = analytics/classical-ml/synthetic/inference/wafer-insights
	url = https://github.com/intel/wafer-insights-with-classical-ml
[submodule "analytics/tensorflow/ssd_resnet34/inference/video-streamer"]
	path = analytics/tensorflow/ssd_resnet34/inference/video-streamer
	url = https://github.com/intel/video-streamer
[submodule "language_modeling/pytorch/bert_large/training/dlsa"]
	path = language_modeling/pytorch/bert_large/training/dlsa
	url = https://github.com/intel/document-level-sentiment-analysis
[submodule "language_modeling/pytorch/bert_base/inference/azureml"]
	path = language_modeling/pytorch/bert_base/inference/azureml
	url = https://github.com/intel/Intel-NLP-workflow-for-Azure-ML.git
[submodule "language_modeling/pytorch/bert_base/training/azureml"]
	path = language_modeling/pytorch/bert_base/training/azureml
	url = https://github.com/intel/Intel-NLP-workflow-for-Azure-ML.git
[submodule "transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference"]
	path = transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference
	url = https://github.com/intel/vision-based-transfer-learning-and-inference
[submodule "transfer_learning/tensorflow/resnet50/training/transfer-learning-training"]
	path = transfer_learning/tensorflow/resnet50/training/transfer-learning-training
	url = https://github.com/intel/vision-based-transfer-learning-and-inference
