analytics/classical-ml/recsys/training/analytics-with-python
analytics/classical-ml/synthetic/inference/wafer-insights
analytics/tensorflow/ssd_resnet34/inference/video-streamer
big-data/aiok-ray/training/AIOK_Ray/
big-data/aiok-ray/inference/AIOK_Ray/
big-data/ppml/chronos
big-data/friesian/training/BigDL
big-data/ppml/bigDL-ppml
classification/tensorflow/bert_base/inference/aws_sagemaker
language_modeling/pytorch/bert_base/inference/azureml
language_modeling/pytorch/bert_base/training/azureml 
language_modeling/pytorch/bert_large/training/dlsa 
transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference 
transfer_learning/tensorflow/resnet50/training/transfer-learning-training
