language_modeling/pytorch/bert_large/training/dlsa # Remove this to change submodule
transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference # Remove this to change submodule
transfer_learning/tensorflow/resnet50/training/transfer-learning-training # Remove this to change submodule
language_modeling/pytorch/bert_base/inference/azureml # Remove this to change submodule
language_modeling/pytorch/bert_base/training/azureml # Remove this to change submodule
analytics/tensorflow/ssd_resnet34/inference/video-streamer # Remove this to change submodule
